.vjs-social-share {
  height: 40px;
  opacity: 0;
  position: absolute;
  right: 30px;
  text-align: center;
  top: 14px;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  width: auto;
  z-index: 999;
}
.vjs-social-share.is-visible,
.vjs-social-share:hover {
  opacity: 1;
}
.vjs-social-share-link {
  border: none;
  cursor: pointer;
  display: inline;
  height: 30px;
  margin-right: 10px;
  position: relative;
  width: 30px;
}
.vjs-social-share-link:last-of-type {
  margin-right: 0;
}
.vjs-social-share-svg {
  height: 30px;
  width: 30px;
}
@media screen and (min-width: 64em) {
  .vjs-social-share {
    right: 24px;
    top: 24px;
  }
}
@media screen and (max-width: 63.999em) and (min-width: 41.6876em) {
  .vjs-social-share {
    display: none;
    height: 20px;
    right: 26px;
  }
  .vjs-social-share.is-visible,
  .vjs-social-share:hover {
    display: none;
  }
  .vjs-ended .vjs-social-share {
    display: block;
    opacity: 1;
  }
  .vjs-social-share-link,
  .vjs-social-share-svg {
    height: 20px;
    width: 20px;
  }
  .vjs-social-share-link {
    margin-right: 7px;
  }
}
@media screen and (max-width: 41.6875em) {
  .vjs-social-share {
    display: none;
    height: 20px;
    right: 15px;
    top: 11px;
  }
  .vjs-social-share.is-visible,
  .vjs-social-share:hover {
    display: none;
  }
  .vjs-ended .vjs-social-share {
    display: block;
    opacity: 1;
  }
  .vjs-social-share-link,
  .vjs-social-share-svg {
    height: 20px;
    width: 20px;
  }
  .vjs-social-share-link {
    margin-right: 7px;
  }
}
@media screen and (min-width: 30.001em) and (max-width: 41.6875em) {
  .vjs-social-share {
    right: 20px;
    top: 13px;
  }
  .vjs-social-share-link,
  .vjs-social-share-svg {
    height: 24px;
    width: 24px;
  }
  .vjs-social-share-link {
    margin-right: 9px;
  }
  .vjs-social-share-link:last-of-type {
    margin-right: 0;
  }
}