.vjs-social-share {
  height: 40px;
  position: absolute;
  right: 30px;
  text-align: center;
  top: 14px;
  transition: visibility 0.3s ease 0s, opacity 0.3s ease 0s;
  width: auto;
  z-index: 999;
  visibility: visible;
  opacity: 1;
}

.vjs-user-inactive .vjs-social-share {
    visibility: hidden;
    opacity: 0;
}
.vjs-user-inactive.vjs-paused .vjs-social-share {
    visibility: visible;
    opacity: 1;
}
.vjs-ad-playing .vjs-social-share {
    display: none;
}

.vjs-social-share-link {
  border: none;
  cursor: pointer;
  display: inline;
  height: 30px;
  margin-right: 10px;
  position: relative;
  width: 30px;
}
.vjs-social-share-link:last-of-type {
  margin-right: 0;
}
.vjs-social-share-svg {
  height: 30px;
  width: 30px;
}

.embed-window {
    position: absolute;
    top: 64px;
    left: 10%;
    width: 80%;
    color: black;
    background: rgba(43, 51, 63, 1);
    padding: 10px;
    border-radius: 8px;
    transition: visibility 0.3s ease 0s, opacity 0.3s ease 0s;
    visibility: visible;
    opacity: 1;
}

.vjs-user-inactive .embed-window {
    visibility: hidden;
    opacity: 0;
}
.vjs-user-inactive.vjs-paused .embed-window {
    visibility: visible;
    opacity: 1;
}
.vjs-ad-playing .embed-window {
    display: none;
}


.embed-window .embed-window-title {
    font-size: 20px;
    color: #FFF;
    margin-top: 6px;
    margin-left: 1px;
    display: inline-block;
}

.embed-window input {
    width: 100%;
    background: rgba(43, 51, 63, 0);
    border: 1px solid gray;
    margin-bottom: 0;
    color: white;
    font-size: 14px;
    padding: 6px 10px;
}

.embed-window .embed-window-close {
    display: inline-block;
    float: right;
    color: white;
    font-size: 1.5em;
    background: rgba(43, 51, 63, 0);
    padding: 3px;
    margin-bottom: 5px;
    cursor: pointer;
}

.embed-window button#btn-copy {
    background-color: #3B4554;
    border: 1px solid #808080;
    color: white;
    float: right;
    margin: 8px 0;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
}

.embed-window button#btn-copy:active {
    background-color: #808080;
    color: #3B4554;
}
